#entry {
    height: 100px;
    min-height: 90px;
    padding-left: 10px;
    font-style: italic;
}

/* Title */
#entry h2 {
    color: black;
    font-family: 'Open Sans', sans-serif;
    width: 50%;
    margin-top: 10px;
    margin-left: 5px;
    size: 100px;
}

/* creation date */
#entry h3 {
    color: rgb(122, 121, 131);
    float: right;
    margin-right: 20px;
}

#editDate h3 {
    font-style: italic;
    color: red;
    float: right;
    margin-right: 20px;
}

/* body */
#entry p {
    margin-left: 5px;
    color: rgb(102, 102, 102);
}