#deleteEntry {
    width: 30%;
    height: 20%;
    border-top: solid black 5px;
    border-bottom: solid black 5px;
    border-left: solid black 5px;
    border-right: solid black 5px;
    border-radius: 10px;
    background-color: white;
}

#deleteEntry h1 {
    color: black;
    margin: auto;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
}

#deleteEntry button {
    width: 15%;
    height: 40px;
    cursor: pointer;
    margin-left: 23%;
    margin-bottom: 5%;
    border-top: solid black 2px;
    border-bottom: solid black 2px;
    border-left: solid black 4px;
    border-right: solid black 4px;
    background-color: rgb(252, 249, 249);
    border-radius: 5px;
    letter-spacing: 0.01cm;
}